.lista-produtos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    gap: 20px; // Espaçamento vertical e horizontal entre cards
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.25rem;
}

.product-image {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
}

.overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


